In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
business_df = pd.read_csv('imp_business_cleaned_data.csv')

In [5]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 101 non-null    object
 1   name                        101 non-null    object
 2   city                        101 non-null    object
 3   state                       101 non-null    object
 4   postal_code                 101 non-null    float64
 5   stars                       101 non-null    float64
 6   review_count                101 non-null    int64
 7   HasTV                       101 non-null    bool
 8   OutdoorSeating              101 non-null    object
 9   RestaurantsTakeOut          101 non-null    object
 10  RestaurantsDelivery         101 non-null    object
 11  RestaurantsGoodForGroups    101 non-null    bool
 12  Monday                      101 non-null    object
 13  Tuesday                     101 non-null    object
 14  Wednesday                   101 non-null    object
 15  Thursday                    101 non-null    object
 16  Friday                      101 non-null    object
 17  Saturday                    101 non-null    object
 18  Sunday                      101 non-null    object
 19  RestaurantsPriceRange2      101 non-null    float64
 20  GoodForKids                 101 non-null    bool
 21  BikeParking                 101 non-null    object
 22  Caters                      101 non-null    bool
 23  BusinessAcceptsCreditCards  101 non-null    bool
 24  WheelchairAccessible        101 non-null    bool
 25  RestaurantsReservations     101 non-null    object
 26  Alcohol2                    101 non-null    object
 27  BusinessParking2            101 non-null    object
 28  NoiseLevel2                 101 non-null    object
 29  Ambience2                   101 non-null    object
 30  WiFi2                       101 non-null    object
dtypes: bool(6), float64(3), int64(1), object(21)
memory usage: 20.4+ KB

In [8]:
business_df['state'].value_counts()

PA    53
FL    48
Name: state, dtype: int64

Filtered businesses are situated in states `Pennsylvania` and `Florida` .

# Ideas
1. Draw the restaurants on a USA map using state, city, and pincode information.
   1. Map should be magnifiable.
   2. Add a filter for filtering restaurants by most popular attributes.
   3. Hover on a restaurant, show key metrics at a glance. 
      1. Average rating.
      2. Age of restaurant.
      3. Best/Worst attribute.
   4. On Click, show full restaurant average rating timeline.
2. More ...

> - There are total 44 cities. 101 restaurants.
> - Most number of restaurants are from 
>   - `Philadelphia: 27` 
>   - `Tampa: 19`
>   - `Pinellas Park: 4` 
>   - `Other cities<=2 restaurants.`

In [20]:
business_df['city'].value_counts(normalize=True)*100

Philadelphia          26.732673
Tampa                 18.811881
Pinellas Park          3.960396
Bensalem               1.980198
Clearwater             1.980198
St. Pete Beach         1.980198
Conshohocken           1.980198
St Petersburg          1.980198
New Hope               1.980198
Saint Petersburg       1.980198
Palm Harbor            1.980198
Largo                  1.980198
Bala Cynwyd            1.980198
Bryn Mawr              0.990099
Boothwyn               0.990099
Treasure Island        0.990099
Trinity                0.990099
Pottstown              0.990099
Port Richey            0.990099
Ruskin                 0.990099
Ambler                 0.990099
Glenside               0.990099
Spring House           0.990099
Apollo Beach           0.990099
Dunedin                0.990099
Folsom                 0.990099
Horsham                0.990099
Indian Rocks Beach     0.990099
Wayne                  0.990099
Springfield            0.990099
Pineville              0.990099
Wesley Chapel          0.990099
Churchville            0.990099
Clearwater Beach       0.990099
Madeira Beach          0.990099
Plymouth Meeting       0.990099
Essington              0.990099
Langhorne              0.990099
Brandon                0.990099
King of Prussia        0.990099
Temple Terrace         0.990099
Warrington             0.990099
Exton                  0.990099
Riverview              0.990099
Name: city, dtype: float64